.businessNav{
    background-color: #f48db4;
    width: 100%;
    margin-top: 60px;
}
.navName2{
    color: #fafafa;
    margin-left: 15px;
    margin-right: 15px;
}
.nav2{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navName2:hover{
    text-decoration: underline;
    color:#c9356c;
}

.browseHeading{
    margin-top: 150px;
    margin-left: 15px;

}

.buttons2{
    background-color: #c5bbbf;   
    border-color: #c5bbbf;
    margin-bottom: 20px;
    margin-top: 18px;
    margin-left: 15px;
    color:black;
    width: 12%;
    max-width: 110px;
}

.buttons2:hover{
    background: #ff347f;
    border-color: #ff347f;
}

.cardImg {
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius:4px;

}

.businessCard{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    width: 96%;

}